[phases.setup]
nixPkgs = ["python312", "gcc"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "cd backend && python -m service.main"
